@import url('https://fonts.googleapis.com/css2? family= Nunito:ital,wght@1.300 & display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
   
}
section
{
    height: 80vh;
    position: relative;
    align-items: start;
    justify-content:start ;
    display: flex;
}

.Container
{
    background-color: rgb(20, 34, 31);
    margin: 100px;
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
    width:800px;
    height: 500px; 
    box-shadow: 0 10px 15px 15px rgb(0,0,0,0.25);
    border-radius: 10px;
    color: white;
}    

button
{ 
    cursor: pointer;
    background:none ;
    border: none;
    color: white;
    width: 30%;
    height: 50px;
    font-size: 1.2em;
    border-radius: 3px;
}
button:hover
{
    color: rgb(255, 255, 255);
    background-color: rgb(39, 99, 99);
}
input
{
    width:60%;
    height: 30px;
    font-size: 1.3rem;
    color: green;
}
.Result
{
    text-align: center;
    color: green;
    font-size: 1.2rem;
    width:60%;
    padding: 10px;
    border: 1px solid white;
    border-radius:5px ;
}
img{
 
    margin: 50px;
    width: 180px;
    height: 180px;
    transform: translate(-100px,-100px);
    position: absolute;
    top: 0;
    left: 0;
}   
.texto
{
    margin-top: 100px;
    width: 500px;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    color:rgb(65, 65, 65) ;
}
.texto h1
{
    font-weight: 300;
}
footer
{
    height: 20vh;
    width: 100%;
    background-color: rgb(20, 34, 31);
}

@media (max-width: 1190px){
    section{
        height: 100%;
        display: grid;
        align-items: center;
        justify-content:center;
    }
    footer{
        display: none;
    }
    .Container{
        width:600px;
        height: 350px;
        font-size: 1em;
    }
    img{
        width: 120px;
        height: 120px;
    }
    .texto{
        margin-left: 150px;
        align-items: center;
        justify-content:center;
    }
}
@media (max-width: 700px){
    .Container{
        width: 80%;
        height: 300px;
        font-size: 0.5em;
      
    }
    img{
        width: 100px;
        height: 100px;
    }
    .texto{
        margin: 100px;
        font-size: 0.8em;
        width: 400px;
        height: 400px;
    }
}
@media (max-width: 500px){
    .Container{
        width: 300px;
        height: 200px;
        font-size: 0.5em;
    
    }
    img{
      display: none;
    }
    .texto{
        margin: 100px;
        font-size: 0.5em;
        width: 260px;
    }
}